/* CSS BY (Kadia Astley-Harwood) */
/* IMPORTED FONTS */ @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ROOT VARIABLES */
:root{
--midnight-blue: #1F2A44;
--olive-green: #76885B;
--champagne-gold: #E5C185;
--linen: #F8F4EC;
--dark-charcoal: #2B2B2B;
--soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */

body{
    background-color: #F8F4EC;
    color:#2B2B2B;
    font-family: "playfair display";
}

header{
    background-color: #1F2A44;
    color: #F8F4EC;
    text-align: center;
    padding: 5px 2px;
}

header p{
    color: #F8F4EC;
    text-align: center;
    font-style: italic;
}

header img{
    margin-bottom: 20px;
    max-width: 450;  
}

header h1{
    font-size: 26px;
    color:linen ;
    font-family: 'playfair display';
    margin-bottom: 10px;
}

h1{
    font-size: 26px;
    font-family: 'playfair display';
    text-align: center;
}

h2{
    font-size: 20px;
    font-family: 'playfair display';
    text-align: center;
    margin-bottom: 10px;
}

h3{
    font-size: 16px;
    font-family: 'playfair display';
    text-align: center;
    margin-bottom: 5px;
}

p{
    margin-bottom: 10px;
}

nav{
color:#1F2A44;
display:block;
background-color: #E5C185;
text-align: center;
padding: 10px;
font-size: 16px;
font-family: 'playfair display';
}

nav ul{
list-style: none;
display: flex;
justify-content: space-around;
}

nav li{
    font-weight: bold;
}

main{
    padding: 20px;
}

offerings{
    background-color: --olive-green;
    color: --soft-white;
    padding: 5px;
    border-radius:10px;
    margin-bottom:10px;
}

dining{
    background-color: --olive-green;
    color: --soft-white;
    padding: 5px;
    border-radius:10px;
    margin-bottom:10px;
}

monthly{
    background-color: --olive-green;
    color: --soft-white;
    padding: 5px;
    border-radius:10px;
    margin-bottom:10px;
}

.monthly ul{
    list-style-type: disc;
    padding-left: 5px;
    margin-bottom: 5px;
}

figure{
    background-color: var(--soft-white);
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
    box-shadow: 5px 2px --dark-charcoal;
}

figure img{
    display:block;

}

figcaption{
    padding: 5px;
    text-align: center;
    font-style: italic;
}

section a{
    display: block;
    background-color: var(--olive-green);
    text-align: center;
    padding: 5px;
    color: var(--soft-white);
    font-weight: bold;
    margin:10px;
    padding: 5px;
    border-radius: 5px;
}

footer{
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
    padding:5px 2px;
}

footer a{
    color: var(--champagne-gold);
    margin:10px;
    text-decoration: none;
    text-align: center;
}
/* MEDIA QUERY (medium) */
@media screen and (min-width:600px)
{
offerings{
    display:inline-block;
    width:50%;
    margin-right: 5px;
}
dining{
    display: inline-block;
    width:50%;
}
}

/* MEDIA QUERY (large) */
@media screen and (min-width: 900px;)
{

}

/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px;)
{

}


